<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV Portal</title>
  </head>
  <body>
    <nav>
      <a href="/auth/login">Login</a>
      <a href="/auth/logout">Logout</a>
    </nav>
    <p id="userInfo">Hello</p>
    <h1>Add a point</h1>

    <form id="addPoint">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="" /><br />
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" value="" /><br />
      <label for="category">Category:</label>
      <select id="category" name="category">
        <option value="">-- Select --</option>
        <option value="Project">Project</option>
        <option value="Experience">Experience</option>
        <option value="Achievement">Achievement</option>
        <option value="Extra-Curricular">Extra-Curricular</option></select><br />
        <label for="org_id">Organization:</label>
        <select id="org_id" name="org_id">
          <option value="">-- Select --</option></select><br />
        <label for="added_by">Added By (searching):</label>
        <input type="text" id="added_by" name="added_by" value=""/><br />
        <label for="user_id">User ID (searching):</label>
        <input type="text" id="user_id" name="user_id" value="" /><br />
        <input
          type="file"
          id="f"
          accept=".pdf,.doc,.docx"
          onchange="fileValidation()"
        />
    </form>

    <div id="uploadOut"></div>

    <button id="pointSubmit">Request</button>
    <button id="pointSearch">Search</button>

    <div id="searchResult"></div>

    <div id="requestResult"></div>

    <script>
      const uploadOut = document.getElementById("uploadOut");
      const searchResult = document.getElementById("searchResult");
      const pointForm = document.getElementById("addPoint");
      const btnSubmit = document.getElementById("pointSubmit");
      const btnSearch = document.getElementById("pointSearch");
      const userInfo = document.getElementById("userInfo");
      const reqResult = document.getElementById("requestResult");
      const f = document.getElementById("f");

      const deepFreeze = (obj) => {
        if (obj && typeof obj === "object" && !Object.isFrozen(obj)) {
          Object.freeze(obj);
          Object.getOwnPropertyNames(obj).forEach((prop) =>
            deepFreeze(obj[prop])
          );
        }
        return obj;
      };

      let userData;

      window.onload = async () => {
        const res = await fetch(`${window.location.protocol}//${window.location.host}/auth/status`, {
          method: "GET",
          headers: { "content-type": "application/json" },
        });
        userData = await res.json();
        deepFreeze(userData);

        let text = "";
        if (userData.user) {
          text = `Welcome ${userData.user.user_id}`;
          text += ` (${userData.user.name}) , Admin: ${
            userData.admin ? "True" : "False"
          }`;
        } else {
          text = "User not logged in";
        }
        if(userData.admin) {
          let btnRequest = document.createElement("button");
          btnRequest.id = "btnRequest";
          btnRequest.innerText = "View Pending Requests";
          
          reqResult.append(btnRequest);

          btnRequest.addEventListener("click", async () => {
            const res3 = await fetch(`${window.location.protocol}//${window.location.host}/requests`, {
              method: "GET",
            });

            const requests = await res3.json();
            await createRequestResultTable();

            for (const request of requests) {
              await appendRequestResultData(request);
            }
          })
        }
      
        userInfo.innerHTML = text;

        const res2 = await fetch(`${window.location.protocol}//${window.location.host}/orgs`, {
          method: "GET",
          headers: { "content-type": "application/json" },
        });
        const orgs = await res2.json();
        const selectOrg = document.getElementById("org_id");
        orgs.forEach((org) => {
          let newOption = document.createElement("option");
          newOption.value = org.org_id;
          let newOptionValue = document.createTextNode(org.name);
          newOption.appendChild(newOptionValue);
          selectOrg.insertBefore(newOption, selectOrg.lastChildNode);
        });
      };

      function fileValidation() {
        const filePath = f.value;
        const allowedExtensions = /(\.pdf|\.doc|\.docx)$/i;
        if (!allowedExtensions.exec(filePath)) {
          alert("Please select a pdf or docx file");
          f.value = "";
        }
      }

      btnSubmit.addEventListener("click", async () => {
        if (!userData.user) window.location = "/auth/login";

        const point = {
          title: pointForm.title.value,
          description: pointForm.description.value,
          category: pointForm.category.value,
          org_id: pointForm.org_id.value,
        };

        const res = await fetch(`${window.location.protocol}//${window.location.host}/points`, {
          method: "POST",
          headers: {
            "content-type": "application/json",
          },
          body: JSON.stringify(point),
        });

        const data = await res.json();
        if(f.files[0]) {
          const fileReader = new FileReader();
          const theFile = f.files[0];
          fileReader.onload = async (ev) => {
            const CHUNK_SIZE = 1000000;
            const chunkCount = ev.target.result.byteLength / CHUNK_SIZE;
  
            console.log("Read successfully");
            const fileExtension = theFile.name.split(".").pop();
            const fileName = `${Math.floor(Math.random() * 900000000 + 100000000)}.${fileExtension}`;
            for (let chunkId = 0; chunkId < chunkCount + 1; chunkId++) {
              const chunk = ev.target.result.slice(
                chunkId * CHUNK_SIZE,
                chunkId * CHUNK_SIZE + CHUNK_SIZE
              );
              await fetch(`${window.location.protocol}//${window.location.host}/points/upload`, {
                method: "POST",
                headers: {
                  "content-type": "application/octet-stream",
                  "content-length": chunk.length,
                  file_name: fileName,
                  point_id: data.pointId
                },
                body: chunk,
              });
              uploadOut.textContent = Math.round((chunkId * 100) / chunkCount, 0) + "%";
            }
            console.log(ev.target.result.byteLength);
            window.location = data.redirect;
          };
          fileReader.readAsArrayBuffer(theFile);
        }
        else {
          window.location = data.redirect;
        }

      });

      const createSearchResultTable = async () => {
        while(searchResult.firstChild) searchResult.removeChild(searchResult.firstChild);

        let searchResultTable = document.createElement("table");
        searchResultTable.id = "searchResultTable";

        let searchResultTableHead = document.createElement("thead");
        searchResultTableHead.id = "searchResultTableHead";

        let searchResultTableHeaderRow = document.createElement("tr");
        searchResultTableHeaderRow.id = "searchResultTableHeaderRow";

        let pointId = document.createElement("th");
        pointId.innerText = "Point ID";

        let userId = document.createElement("th");
        userId.innerText = "User";

        let title = document.createElement("th");
        title.innerText = "Title";

        let description = document.createElement("th");
        description.innerText = "Description";

        let category = document.createElement("th");
        category.innerText = "Category";

        searchResultTableHeaderRow.append(pointId, userId, title, description, category);
        searchResultTableHead.append(searchResultTableHeaderRow);
        searchResultTable.append(searchResultTableHead);

        let searchResultTableBody = document.createElement("tbody");
        searchResultTableBody.id = "searchResultTableBody";   
        searchResultTable.append(searchResultTableBody);
        
        searchResult.append(searchResultTable);
      }

      const appendSearchResultData = async (pointData) => {
        const searchResultTable = document.getElementById("searchResultTable");

        let searchResultTableRow = document.createElement("tr");
        searchResultTableRow.id = "searchResultTableRow";

        let pointId = document.createElement("td");
        pointId.innerText = pointData.point_id;

        let userId = document.createElement("td");
        userId.innerText = pointData.user_id;

        let title = document.createElement("td");
        title.innerText = pointData.title;

        let description = document.createElement("td");
        description.innerText = pointData.description;

        let category = document.createElement("td");
        category.innerText = pointData.category;

        let flag = document.createElement("td");
        let flagBtn = document.createElement("button");
        if(userData.user.Flags.some(({ point_id }) => point_id === pointData.point_id)) flagBtn.innerText = "-";
        else flagBtn.innerText = "Flag it!";
        flag.append(flagBtn);

        const flagBody = {
          point_id: pointData.point_id,
          description: "You have been warned!",
        }

        flagBtn.addEventListener("click", async () => {
          if(userData.user.Flags.some(({ point_id }) => point_id === pointData.point_id)) {
            alert("Point already flagged!");
          }
          else {
            const res = await fetch(`${window.location.protocol}//${window.location.host}/points/${pointData.point_id}/flag`, {
              method: "POST",
              headers: {
              "content-type": "application/json",
              },
              body: JSON.stringify(flagBody)
            });
            const data = await res.json();
            window.location = data.redirect;
          }
        })

        searchResultTableRow.append(pointId, userId, title, description, category, flag);

        searchResultTable.append(searchResultTableRow);

      }


      btnSearch.addEventListener("click", async () => {
        if (!userData.user) window.location = "/auth/login";
        
        const point = {
          title: pointForm.title.value,
          description: pointForm.description.value,
          user_id: pointForm.user_id.value,
          category: pointForm.category.value,
          org_id: pointForm.org_id.value,
          added_by: pointForm.added_by.value,
          approved_by: "",
        };

        const res = await fetch(`${window.location.protocol}//${window.location.host}/search`, {
          method: "POST",
          headers: {
            "content-type": "application/json",
          },
          body: JSON.stringify(point),
        });

        const searchResult = await res.json();

        await createSearchResultTable();

        for (const point of searchResult) {
          appendSearchResultData(point);
        }

      });

      const createRequestResultTable = async () => {
        while(requestResult.firstChild) requestResult.removeChild(requestResult.firstChild);

        let requestResultTable = document.createElement("table");
        requestResultTable.id = "requestResultTable";

        let requestResultTableHead = document.createElement("thead");
        requestResultTableHead.id = "requestResultTableHead";

        let requestResultTableHeaderRow = document.createElement("tr");
        requestResultTableHeaderRow.id = "requestResultTableHeaderRow";

        let reqId = document.createElement("th");
        reqId.innerText = "Request ID";

        let reqBy = document.createElement("th");
        reqBy.innerText = "Requested By";

        let pointId = document.createElement("th");
        pointId.innerText = "Point ID";

        let title = document.createElement("th");
        title.innerText = "Title";

        let description = document.createElement("th");
        description.innerText = "Description";

        let category = document.createElement("th");
        category.innerText = "Category";

        requestResultTableHeaderRow.append(reqId, reqBy, pointId, title, description, category);
        requestResultTableHead.append(requestResultTableHeaderRow);
        requestResultTable.append(requestResultTableHead);

        let requestResultTableBody = document.createElement("tbody");
        requestResultTableBody.id = "requestResultTableBody";   
        requestResultTable.append(requestResultTableBody);
        
        requestResult.append(requestResultTable);
      }

      const appendRequestResultData = async (reqData) => {
        const requestResultTable = document.getElementById("requestResultTable");

        let requestResultTableRow = document.createElement("tr");
        requestResultTableRow.id = "requestResultTableRow";

        let reqId = document.createElement("td");
        reqId.innerText = reqData.req_id;

        let reqBy = document.createElement("td");
        reqBy.innerText = reqData.req_by;

        let pointId = document.createElement("td");
        pointId.innerText = reqData.Point.point_id;

        let title = document.createElement("td");
        title.innerText = reqData.Point.title;

        let description = document.createElement("td");
        description.innerText = reqData.Point.description;

        let category = document.createElement("td");
        category.innerText = reqData.Point.category;

        let approve = document.createElement("td");
        let approveBtn = document.createElement("button");
        approveBtn.innerText = "Approve";
        approve.append(approveBtn);

        approveBtn.addEventListener("click", async () => {
          const res = await fetch(`${window.location.protocol}//${window.location.host}/requests/${reqData.req_id}/approve`, {
            method: "GET",
          });
          const data = await res.json();
          window.location = data.redirect;
        })

        requestResultTableRow.append(reqId, reqBy, pointId, title, description, category, approve);

        requestResultTable.append(requestResultTableRow);
      }
    
    </script>
  </body>
</html>
